@font-face {
    font-family: 'BradleyHandITCTT-Bold';
    src: url("../static/bradley_hand_itc_tt_bold.ttf"); 
}
@font-face {
    font-family: 'Montserrat';
    src: url("../static/Montserrat-Regular.ttf");
  }
@font-face {
    font-family: 'Montserrat-BoldItalic';
    src: url("../static/Montserrat-BoldItalic.ttf");
  } 
@font-face {
    font-family: 'Montserrat-Italic';
    src: url("../static/Montserrat-Italic.ttf");
}  