@font-face {
    font-family: 'BradleyHandITCTT-Bold';
    src: url("../static/bradley_hand_itc_tt_bold.ttf"); 
}
@font-face {
    font-family: 'Montserrat';
    src: url("../static/Montserrat-Regular.ttf");
  }
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../static/Montserrat-SemiBold.ttf");
  }
@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url("../static/Montserrat-SemiBoldItalic.ttf");
  } 
@font-face {
    font-family: 'Montserrat-Italic';
    src: url("../static/Montserrat-Italic.ttf");
}  